@keyframes smallthing {
    0% {
        width: 0px;
        left: 0px;
    }

    25% {
        width: 12px;
        left: 0px;
    }

    50% {
        width: 12px;
        left: var(--topbar-width);
    }

    100% {
        width: 0px;
        left: var(--topbar-width);
    }
}

@keyframes undo-smallthing {
    100% {
        width: 0px;
        left: 0px;
    }

    66% {
        width: 12px;
        left: 0px;
    }

    33% {
        width: 12px;
        left: var(--topbar-width);
    }

    0% {
        width: 0px;
        left: var(--topbar-width);
    }
}


@keyframes fill-topbar {
    0% {
        width: 0px;
    }

    100% {
        width: var(--topbar-width);
    }
}

@keyframes unfill-topbar {
    0% {
        width: var(--topbar-width);
    }

    100% {
        width: 0px;
    }
}

@keyframes fill-to-right {
    0% {
        width: 0px;
    }

    100% {
        width: 1310px;
    }
}

@keyframes unfill-from-right {
    0% {
        width: 1310px;
    }

    100% {
        width: 0px;
    }
}